<form class="ui form {{if changeset.isInvalid 'error'}}">
  <h4 class="ui dividing header">Entry</h4>
  <div class="field {{if changeset.error.link 'error'}}">
    <label>Link</label>
    {{validated-input propertyName="link" changeset=changeset}}
  </div>

  <div class="field {{if changeset.error.notes 'error'}}">
    <label>Notes</label>
    {{validated-input propertyName="notes" changeset=changeset}}
  </div>

  <div class="inline field">
    <div class="ui toggle checkbox">
      {{input type="checkbox" checked=changeset.archived}}
      <label>Archived?</label>
    </div>
  </div>

</form>
<h5>Tags</h5>
<div class="divider"></div>
{{!--
{{tag-picker tags=tags add=(action "addTag") remove=(action "removeTag")}}
--}}
<br>
<br>
<button class="ui blue button" data-test-save-btn {{action "save"}}>Save</button>
<button class="ui blue button" data-test-cancel-btn {{action "rollback"}}>Cancel</button>
