{{#ui-modal class="basic confirm" onApprove=(route-action 'approveModal') onDeny=(route-action 'denyModal')}}
<i class="close icon"></i>
<div class="header">Remove entry?</div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel basic inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
      <div class="ui ok red basic inverted button">
        <i class="checkmark icon"></i>
        Yes, delete
      </div>
    </div>
  </div>
{{/ui-modal}}

{{actions-menu}}

<div class="ui very relaxed animated list">
{{#each filteredEntries as |entry|}}
  <div class="item">
    <div class="right floated content">
      <div class="ui red icon button" onclick={{route-action 'openModal' 'confirm' entry}}>
        <i class="trash outline icon"></i>
      </div>
      {{#link-to "entries.entry.edit" entry class="ui blue icon button"}}
        <i class="edit icon"></i>
      {{/link-to}}
    </div>
    <i class="{{if entry.archived 'archive' 'linkify'}} large icon"></i>
    <div class="content">
      <a href="{{entry.link}}" target="_blank" class="header">{{entry.link}}</a>
      <div class="description">{{if entry.notes entry.notes 'No description'}}</div>
      Created {{moment-from-now entry.createdAt}} |

      {{#each entry.tags as |tag|}}
        <div class="ui violet basic label">{{tag}}</div>
      {{else}}
        <div class="ui label">Untagged</div>
      {{/each}}
    </div>
  </div>
{{/each}}
{{outlet}}

</div>
